= wrap_layout :markdown_page do
  :markdown
    GitLab Inc. is a company based on the GitLab open-source project. GitLab is
    a community project to which over 1,000 people worldwide have contributed.
    We are an active participant in this community, trying to serve its needs
    and lead by example. We have one [vision]: everyone can contribute to all
    digital content, and our mission is to change all creative work from
    read-only to read-write so that everyone can contribute.

    We [value] results, transparency, sharing, freedom, efficiency, frugality,
    collaboration, directness, kindness, diversity, boring solutions, and
    quirkiness. If these values match your personality, work ethic, and personal
    goals, we encourage you to visit our [primer] to learn more. Open source is
    our culture, our way of life, our story, and what makes us truly unique.

    [vision]: https://about.gitlab.com/strategy/
    [value]: https://about.gitlab.com/handbook/values/
    [primer]: https://about.gitlab.com/primer/

  = partial "includes/reasons_to_work_for_gitlab"

  :markdown
    See [our culture page](/culture) for more!

    Please note that if we are actively hiring for a position, you will see it
    listed on our [jobs page](about.gitlab.com/jobs/), where all of our current
    openings are advertised. To apply, please click on the name of the role
    you are interested in, which will take you to our applicant tracking
    system (ATS), [Lever](https://www.lever.co/).

  = yield

  - if role = salary_for_current_role
    = partial "includes/salary_calculator", locals: {title: role.title}
