---
layout: job_page
title: "Director of Marketing & Sales Development"
---

## Responsibilities

* The Director of Marketing and Sales Development will own all lead generation activities at GitLab, from traffic generation to lead capture, scoring & nurturing with a focus on sales development, online acquisition, marketing operations, content marketing, and field marketing.
* Manage a (growing) team of 18 reporting into the role.
* Exhibit deep expertise in software marketing, as well as people management experience.
* Metrics-based approach, and strong results in both content & field marketing.

## Requirements

* At least 4 years marketing experience in a software context
* At least 2 years experience managing people
* At least 2 years experience with content marketing
* At least 2 years experience with field marketing
* Experience with lead scoring & nurturing models
* Experience with driving direct sales in an online/SaaS context
* Experience with Pardot, Marketo, Hubspot or similar tools
* Experience with Google Analytics, MixPanel, and content optimization tools
* Experience running SEM campaigns and other paid traffic
* Experience with Social Media Marketing
* Strong understanding of marketing funnels & metrics
* Experience with Account-based Marketing
* Stays on top of trends in the space via conferences, publications, social media, etc.
* You share our [values](/handbook/values), and work in accordance with those values.

## Nice-to-haves

* Experience with remote-friendly, remote-mostly or remote-only work cultures
* Experience at multiple SaaS companies
* Direct experience in the Developer Tools or Collaboration spaces e.g. Atlassian, GitHub, JetBrains, Slack, Xamarin, New Relic, etc.
* Marketing experience beyond demandgen & leadgen

<%= partial "includes/apply_and_about" %>
