---
layout: job_page
title: "Content Designer"
---

As the content designer for GitLab you will be responsible for assisting the marketing team on create engaging visual content across all channels. Projects will range from promotional videos, social campaigns, and infographics, to ebooks, whitepapers, and illustrations. Our ideal candidate has a strong design skill-set, takes direction openly and positively, and is very detail oriented. Major bonus points if you’ve used GitLab before!   

## Responsibilities  

* You create a great design for interesting content.   
* Work with our content team on video creation and editing.  
* GIF creation for social campaigns and email.   
* Social media campaign assets to support our content marketing.   
* Design demand generation content like eBooks and whitepapers working directly with our content marketing manager.   
* You’ve created super cool infographics or graphics to tell a story based on data or interesting idea.    
* Illustrations for documentation like flow charts and graphical representations of complex development practices.   
* Create short, punchy videos to explain our awesome features. If we give you a voice-over, you can create a great quick video.   

## Requirements
* Excellent spoken and written English.  
* Self taught or degrees welcome.   
* 2-3 years experience in marketing-focused design is preferred.  
* Able to iterate quickly from concept and mockups to pixel-perfect design.  
* Comfortable working very collaboratively on projects, as well as independently.   
* Be ready to learn how to use GitLab and Git.
* You share our values, and work in accordance with those values.  

## Hiring Process

<%= partial "includes/apply_and_about" %>
