---
layout: job_page
title: "Marketing Intern"
---

## Responsibilities

* Work with Field Marketing to own the Diversity Scholarship program Support Field Marketing Manager in all upcoming events and conferences.
* Conduct interviews with GitLab users at events and conferences.
* Work with the Content Team to support the content strategy via blog posts, social media posts, video tutorials etc.
* Act as internal PR coordinator between our PR firm + GitLab broader marketing team.
* Improve the structure and quality of the Handbook.
* Create social media guidelines.
* Create editorial style guide.
* Manage all swag and sponsorship requests.


<%= partial "includes/apply_and_about" %>
