---
layout: job_page
title: "Implementation Engineer"
---

Implementation Engineers provide on-site or remote deployment of GitLab technology and solutions as well as training. The Implementation Engineer will act as the technical representative leading the direct interaction with the customer’s personnel and project teams by rolling out best practices. This role helps the customer to faster benefit from the GitLab solution and realize business value. Meanwhile, Implementation Engineers also need to provide feedback to product management and engineering team on the actual field experience through customer engagements and implementations.

To learn more, see the [Implementation Engineer handbook](/handbook/customer-success/implementation-engineering)

## Responsibilities

- Install & configure GitLab solutions in customer environment as per Statement of Work (SOW)
- Provide technical training sessions remotely and/or on-site
- Develop and implement migration plan for customer VCS & data migration
- Assist GitLab customer support team to diagnose and troubleshoot support cases when necessary
- Develop & maintain custom scripts for integration or policy to align with custom requirements
- Create detailed documentation for implementation, guides and training.
- Support Sales on quoting PS and drafting SOW to respond PS requests
- Travel required - 40%
- Managing creation of new and maintaining of existing training content

## Requirements

- Deep knowledge of software development lifecycle and development pipeline
- Understanding of continuous integration, continuous deployment, ChatOps, and cloud native
- Above average knowledge of Unix and Unix based Operating Systems
  - Installation and operation of Linux operating systems and hardware investigation/manipulation commands
  - BASH/Shell scripting including systems and init.d startup scripts
  - Package management (RPM, etc. to add/remove/update packages)
  - Understanding of system log files/logging infrastructure
- B.Sc. in Computer Science or equivalent experience
- Programming/scripting experience & skill is required (Bash & Ruby)
- Project management experience & skills
- SCM admin and/or PS experience would be a plus
- Set up HA/DR, working with Containers and Schedulers (Kubernetes preferred) and also experience with AWS stack (EC2, ECS, RDS, ElastiCache)
- Experience with Ruby on Rails applications and Git

## Hiring Process

- Qualified applicants receive a short questionnaire
- Selected candidates will be invited to schedule a 30 minute screening call
- Next, candidates will be invited to schedule technical interviews with a Senior Support Engineer
- Candidates will be invited to schedule interviews with Director of Customer Success
- Next, candidates will be invited to schedule an interview with Regional Sales Director, Solutions Architect
- Candidates may be invited to schedule an interview with our CRO
- Finally, candidates may interview with our CEO
- Successful candidates will subsequently be made an offer via email

<%= partial "includes/apply_and_about" %>
