---
layout: job_page
title: "Services Support"
---

## Services Support Roles at GitLab

GitLab Services Support Agents focus on providing support for GitLab.com. They will be a first point of contact when a customer has trouble. They should be cool under pressure, comfortable with technology, and always willing to go the extra mile to make things right.

### Intermediate Services Support Agent

- Engage with our customers to triage customer issues via email
- Focus on efficiency
- Collaborate with Support Engineers and the GitLab Community get bugs fixed
- Create or update internal documentation on Services Support Process
- Maintain good ticket performance and satisfaction
- Understanding of how SaaS software works
- Desire to dive in and understand problems
- Driven to understand new challenges
- Customer focused always
- Excellent spoken and written English
- Successful completion of a [background check](/handbook/people-operations/code-of-conduct/#background-checks).

### Senior Services Support Agent

This role expounds on the Services Support Agent

- Come up with a catchier name for yourself
- Mentor Services Support to build more Senior Support Agents
- Build efficient process
- Expert Level SaaS Debugging
- A Deep desire to understand how software works
- Liaison to other teams echoing the customer voice
- Coordinate with Infrastructure and Production teams to build collaborative workflows

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).

* Qualified applicants receive a short questionnaire from our Global Recruiters
* Selected candidates will be invited to schedule a 30min [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* A GitLab Team member from any team will conduct a behavioral interview to get a sense of your work experience.
* Candidates will schedule an interview with our Support Lead
* Successful candidates will subsequently be made an offer via email

Additional details about our process can be found on our [hiring page](/handbook/hiring).


<%= partial "includes/apply_and_about" %>
