---
layout: job_page
title: "Technical Product Marketing Manager"
---

## Requirements

* Technical background or clear understanding of software development and delivery products and solutions.
* Deep understanding of Agile and DevOps methodologies, specially in large enterprise environments.
* 5-7 years prior experience as solution architect, product management, technical enablement, or technical marketing, with experience in marketing to enterprise companies.
* Able to coordinate across many teams and perform in fast-moving startup environment.
* Highly technical to be able to independently develop demos, webinars, videos, technical collateral, ROI/value oriented assessments, etc.
* Experience in building sales enablement collateral and the corresponding training to ensure that salespeople can confidently and accurately deliver GitLab's enterprise value proposition.
* Excellent spoken and written English
* You share our values, and work in accordance with those values.
* Experience with sales enablement in a partner & alliances context
* Experience managing sales and marketing requirements & expectations in a fast-growing environment
* Obsessive about iteration, quality, clarity, details, & execution
* Market research and competitive intelligence experience
* Stay on top of trends in the space via conferences, publications, social media, etc
* You share our [values](/handbook/values), and work in accordance with those values.


#### Responsibilities

* Work with product and engineering to craft the enterprise story for new and existing features.
* Develop and maintain compelling collateral for external and internal technical audiences - customers, prospects, analysts, sales, and partners.
* Own technical enablement materials and training.
* Create demos and collateral demonstrating business values and use cases of key technical features
* Conduct competitive analysis to understand buyer personas, competitive landscape, and other data to help influence marketing, sales, and product decisions.
* Help technical writing and engineering to create documentation that address audience needs.
* Become product & market expert for GitLab, able to read trends and quickly iterate on messages our marketing & sales teams can use
* Contribute to launches for new product offerings
* Produce collateral such as presentations, videos, demos, whitepapers, one pagers, case studies, battle cards, etc.
* Train and enable sales and partner teams to deeply understand the buyer value proposition and features and capabilities of the product
* Support creation of enablement plans and deliver it to sales, sales development, solutions architects, and partners
* Capture how our products are used and the value created across industries and customers for collateral creation and customer reference marketing
* Collaborate with our sales development reps, account executives and partners to successfully drive the sales of GitLab’s product offerings
* Drive integrated communications initiatives with other teams across internal and partner ecosystems

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).

* Qualified applicants will be invited to schedule a [screening call](/handbook/hiring/interviewing/#screening-call) with one of our Global Recruiters.
* Candidates then may be offered a 45 minute interview with our Chief Marketing Officer
* Next, candidates will be invited to schedule a interview with the Director of Product Marketing
* Candidates will then be invited to schedule 45 minute interviews with a member of our sales team 
* Candidates will then be invited to schedule 45 minute interviews with a Regional Sales Director
* Candidates may be invited to schedule a 45 minute interview with the Vice President of Product
* Candidate will then interview with a member of the Product Marketing Team
* Finally, our CEO may choose to conduct a final interview.
* Successful candidates will subsequently be made an offer via email.

Additional details about our process can be found on our [hiring page](/handbook/hiring).

<%= partial "includes/apply_and_about" %>
